In [2]:
# SQL Alchemy
from sqlalchemy import create_engine

In [3]:
database_path = '../Resources/Census_Data.sqlite'

In [4]:
print(f"sqlite:///{database_path}")

sqlite:///../Resources/Census_Data.sqlite

In [5]:
engine = create_engine(f"sqlite:///{database_path}")

In [36]:
data = engine.execute("Select * from Census_Data limit 5")

In [37]:
for record in data:
    print(record)
    print(" ")

('HOUSTON, TX', 'HOUSTON', 'TX', 3061887, 1775897, 684416, 11586, 230549, 1368287, 54180, 387082, 62520, 100014, 349920, 138882, 42491, 27737, 633609, 1593803, 122895, 67484, 22637, 33.43958333, 32.55, 34.36354167, 56206.5, 32239.52083, 956.7083333, 178233.6842, 29.77573444, -95.41454828)

('CHICAGO, IL', 'CHICAGO', 'IL', 2702091, 1318869, 843633, 7554, 161478, 785374, 32800, 370569, 50202, 100972, 385664, 178511, 54636, 26956, 588639, 1439118, 173087, 45864, 18209, 34.52678571, 33.79821429, 35.14107143, 57735.96429, 38730.83929, 1119.928571, 264739.2857, 41.86783754, -87.67343993)

('BROOKLYN, NY', 'BROOKLYN', 'NY', 2595259, 1126111, 870465, 8744, 297890, 509243, 48934, 389177, 65899, 107313, 348413, 164826, 39328, 17446, 597404, 1297832, 129667, 33644, 14845, 35.17567568, 33.36756757, 36.57837838, 51469.18919, 28309.67568, 1261.783784, 605743.2432, 40.65280511, -73.9565277)

('LOS ANGELES, CA', 'LOS ANGELES', 'CA', 2426413, 1068202, 324842, 15949, 273829, 1292382, 62684, 280325, 22924, 83153, 312270, 104024, 40600, 19436, 626981, 1273305, 141105, 26989, 12329, 35.33548387, 34.53548387, 36.06129032, 47494.58333, 30073.19355, 1201.766667, 557115.0, 34.04220912, -118.3034679)

('MIAMI, FL', 'MIAMI', 'FL', 1820704, 1361009, 363514, 2250, 33144, 1162711, 27137, 322521, 30827, 113990, 231241, 79888, 36586, 15913, 338765, 935326, 91584, 20714, 6969, 38.74074074, 37.12037037, 40.26296296, 51232.90741, 25949.35185, 1260.833333, 243279.6296, 25.7602677, -80.2985105)

In [30]:
data.keys()

['CityState',
 'city',
 'state',
 'Population',
 'White Population',
 'Black Population',
 'Native American Population',
 'Asian Population',
 'Hispanic Population',
 'Education None',
 'Education High School',
 'Education GED',
 'Education Associates',
 'Education Bachelors',
 'Education Masters',
 'Education Professional',
 'Education Doctorate',
 'Poverty',
 'Employment Labor Force',
 'Employment Unemployed',
 'Employment Male Computer Engineering',
 'Employment Female Computer Engineering',
 'Median Age',
 'Median Male Age',
 'Median Female Age',
 'Household Income',
 'Income Per Capita',
 'Median Gross Rent',
 'Median Home Value',
 'lat',
 'lng']